<p style="color: green"><%= notice %></p>

<%= render @group_operation %>

<div>
  <%= link_to "Edit this group operation", edit_group_operation_path(@group_operation) %> |
  <%= link_to "Back to group operations", group_operations_path %>

  <%= button_to "Destroy this group operation", @group_operation, method: :delete %>
</div>
