
<h3 class="category-header">Categories</h3>
<% if @groups.empty? %>
     <h1>There are no categories to show ! Try to Add one</h1>
<% end %>

<% if @groups.count > 0 %>
<div class="categories-container">
  <% @groups.each do |group| %>
    <div class="category-card">
    <%= image_tag group.icon , alt: 'Category icon' %>
    <div div class="date-container">
      <h3><%=link_to group.name,  group_operations_path(group), :class => 'category-title'%></h3>
      <p class = 'category-date'><%= l group.created_at, format: :long %></p>
    </div>
    <p>$<%= group.operations.sum(&:amount) %></p>
    <% if can? :manage, group %>
      <%= button_to "Delete" ,group, method: :delete ,class: "destroy-button"   %>
    <% end %>
  </div>
  <% end %>
  <%= link_to 'Add Category', new_group_path, class: "Add-button" %>
  </div>
<% end %>
