<header>
<div class="elements">
<% if user_signed_in? %>
<div class="items">
  <%= link_to raw("<i class='fas fa-arrow-left arrow' style='font-size:26px'></i>"),  groups_path %>
</div>
  <h3 class="title"><%= title %></h3>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete,class:"logout-button" %>
<% else %>
  <p><%= link_to  "My Budget",  users_path, class: "logo"  %></p>
  <h3 class="title"><%= title %></h3>
<% end %> 
</div>
<% if notice %>
    <p class="alert alert-success notification"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger notification"><%= alert %></p>
  <% end %>
</header>