<header>
<div class="elements">
<p><%= link_to  "My Budget",  users_path, class: "logo"  %></p>
<% if user_signed_in? %>
  <%= link_to raw("<i class='fas fa-arrow-left' style='font-size:36px'></i>"),  groups_path %>
  <h3><%= title %></h3>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete,class:"logout-button" %>
<% else %>
  <h3><%= title %></h3>
<% end %> 
</div>
<% if notice %>
    <p class="alert alert-success notification"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger notification"><%= alert %></p>
  <% end %>
</header>