<!DOCTYPE html>
<html>
  <head>
    <title>MyBudget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="elements">
    <% if user_signed_in? %>
      <button><%= link_to "Sign out", destroy_user_session_path, method: :delete,class:"decoration" %></button>
    <% else %>
      <button><%= link_to  "Sign up", new_user_registration_path,class:"decoration" %></button>
      <button><%= link_to "Login in", new_user_session_path,class:"decoration" %></button>
    <% end %>
  </div>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
