<div>
  <h1>Transactions</h1>
</div>
    <div class="category-header">
      <p><%= @group.name %></p>
      <p><%= @group.operations.sum(&:amount) %>$</p>
    </div>
    <div class="categories-container"> 
  <% if @operations.count > 0 %>
  <% @operations.each do |operation| %>
    <div class="category-card">
    <%= image_tag @group.icon , alt: 'Category icon',:class=>"decoration" %>
          <p ><%= operation.name %></p>
          <p><%= l operation.created_at, format: :long %></p>
      
        <p>
          <%= operation.amount %>$
        </p>
      </div>
  <% end %>
<% else %>
  <h1>You have no Transactions and new to continue</h1>
<% end %>
</div>
<%= link_to 'Add Transaction', new_group_operation_path(@group), class: "Add-button"%>